/* ############################################# */
/* Overall document settings */

:root {
    --button: rgb(251, 133, 0);
    --highlight: rgb(255, 183, 3);
    --darkHighlight: rgb(2, 48, 71);
    --borderStyle: solid;
    --secondaryBorderstyle: solid;
    --textColor: white;
    --background: rgb(142, 202, 230);
    --secondaryBackground: rgb(33, 158, 188);

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: darkgray
}

/* ############################################# */
/* Start Screen Styling */
header {
    font-size: 35pt;
    font-weight: bolder;
}

#container {
    border-style: var(--borderStyle);
    border-color: var(--darkHighlight);
    margin-left: 25%;
    margin-right: 25%;
}

#container h2 {
    border-style: var(--secondaryBorderstyle);
    border-color: var(--darkHighlight);
    padding: 5%;
    font-size: larger;
}

#quizcard {
    background-color: var(--darkHighlight);
}

#startBtn {
    margin: 10%;
    font-size: 40px;
    border-style: var(--secondaryBorderstyle);
    border-color: var(--darkHighlight);
    background-color: var(--button);
    color: var(--textColor);
}


.choice {
    margin: 10%;
    font-size: 20px;
    color: var(--textColor);
    background-color: var(--darkHighlight);
    border-radius: 20%;
    padding: 2%;
}

#quizBoxbanner {
    width: 100%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondaryBackground);
    color: var(--textColor);
}

#timebox {
    font-size: x-large;
    background-color: var(--darkHighlight);
}

/* EndQuiz Styling */

.endDisplay {
    padding: 10px;
    font-size: larger;
    background-color: var(--darkHighlight);
    color: var(--textColor);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--secondaryBackground);
    color: var(--textColor);
}

#nameContainer, #submitContainer {
    display: flex;
    flex-direction: column;
}

.highscore {
    list-style-type: none;
    text-align: center;
}